<?xml version="1.0"?>
<launch>

  <!-- controller_manager -->
  <include file="$(find cob_controller_configuration_gazebo)/launch/components/controller_utils.launch" />

  <rosparam file="$(find lbr_bringup)/config/arm_controller_lbr_solo.yaml" command="load"/>

  <node name="arm_controller_spawner" pkg="controller_manager" type="spawner" args="arm_controller" />

</launch>
