<?xml version="1.0"?>
<launch>
  
  <!-- define arguments -->
  <arg name="paused" default="false"/>
  
  
  <!-- start gazebo with empty world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)" />
  </include>

  <!-- send cob urdf to param server -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find lbr_bringup)/urdf/lbr_solo.urdf.xacro'" />
  
  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model lbr_solo -Y 1.5707" respawn="false" output="screen" />
  
  
  
  <!-- send ROBOT parameters to parameter server -->
  <rosparam command="load" ns="/script_server/arm" file="$(find lbr_bringup)/config/arm_joint_configurations.yaml"/>
  
  
  <!-- start cam3d -->
<!--
  <node name="cam3d_relay" pkg="topic_tools" type="relay" args="/cam3d/rgb/image_raw /cam3d/rgb/image_color" respawn="false" output="screen"/>
  <include file="$(find cob_cam3d_throttle)/launch/cam3d_throttle.launch" >
    <arg name="namespace" value="/cam3d" />
    <arg name="rate" value="1.0" />
    <arg name="start_manager" value="true"/>
    <arg name="nodelet_manager" value="cam3d_nodelet_manager"/>
  </include>
-->
 
  <!-- start gazebo controllers -->
  <include file="$(find lbr_bringup)/launch/default_controllers_lbr_solo.launch" />
  
  <!-- services for simulation (e.g.: stop for simulation)-->
  <node pkg="cob_controller_configuration_gazebo" type="gazebo_services.py" name="gazebo_services" cwd="node" respawn="false" output="screen" />
  
</launch>
