<?xml version="1.0"?>
<launch>

	<arg name="robot"/>

	<!-- upload robot_description -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find ipa_seminar_application_bringup)/urdf/$(arg robot).urdf.xacro'" />

	<!-- start robot_state_publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>
	
	<!-- fake joint state publisher for gripper-->
	<node pkg="ipa_seminar_application_bringup" type="fake_gripper_joint_state_publisher.py" name="gripper_fake_joint_state_publisher"/>

	<!-- start specific arm driver -->
	<include file="$(find ipa_seminar_application_bringup)/launch/$(arg robot).launch" />

</launch>
