<?xml version="1.0"?>
<launch>

	<arg name="robot"/>

	<!-- upload robot_description -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find ipa_seminar_application_bringup)/urdf/$(arg robot).urdf.xacro'" />

	<!-- start robot_state_publisher -->
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_state_publisher"/>

	<!-- start arm -->
	<include file="$(find ipa_seminar_application_bringup)/launch/$(arg robot).launch" />
	<node name="arm_joint_states_relay" pkg="topic_tools" type="relay" args="/arm_controller/joint_states /joint_states" cwd="node" respawn="true" output="screen"/>

	<!-- start gripper -->
	<node pkg="ipa_seminar_application_bringup" type="fake_gripper.py" name="fake_gripper"/>
	<node name="gripper_joint_states_relay" pkg="topic_tools" type="relay" args="/gripper_controller/joint_states /joint_states" cwd="node" respawn="true" output="screen"/>

	<!-- send objects locations to parameter server -->
	<rosparam command="delete" param="/objects"/>
	<rosparam command="load" ns="objects" file="$(find ipa_seminar_application_bringup)/config/object_locations.yaml"/>
	<!--node pkg="cob_bringup_sim" name="spawn_object" type="spawn_object.py" args="all"/-->
	<node pkg="ipa_seminar_application_bringup" name="area_publisher" type="area_publisher.py"/>

	<!-- move it -->
	<include file="$(find ipa_seminar_application_bringup)/../ipa_seminar_application_moveit_config_$(arg robot)/launch/move_group.launch" />

	<!-- load default configuration -->
	<rosparam command="load" ns="/script_server/arm" file="$(find ipa_seminar_application_bringup)/config/arm_joint_configurations_$(arg robot).yaml"/>
	<rosparam command="load" ns="/script_server/gripper" file="$(find ipa_seminar_application_bringup)/config/gripper_joint_configurations.yaml"/>

</launch>
