<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       name="ur10" >

  <!-- common stuff -->
  <include filename="$(find ur_description)/urdf/gazebo.urdf.xacro" />
  <include filename="$(find cob_description)/urdf/common.xacro" />
  <include filename="$(find cob_description)/urdf/materials.urdf.xacro" />
  <include filename="$(find cob_description)/gazebo/gazebo.urdf.xacro" />
  <include filename="$(find schunk_description)/urdf/pg70/pg70.urdf.xacro" />

  <!-- ur10 -->
  <include filename="$(find raw_description)/urdf/ur_arm/ur10_arm.urdf.xacro" />

  <!-- foot for arm -->
	<link name="base_link">
		<inertial>
		   <origin xyz="0 0 -10" rpy="0 0 0"/>
		   <mass value="1000.0"/>
		   <inertia ixx="100.0"  ixy="0"  ixz="0" iyy="100.0" iyz="0" izz="100.0" />
		</inertial>

		<visual>
		   <origin xyz="0 0 0.5" rpy="0 0 0" />
		   <geometry>
			  <box size="2 2 1"/>
		   </geometry>
		   <material name="IPA/LightGrey" />
		</visual>

		<collision>
		   <origin xyz="0 0 0.5" rpy="0 0 0" />
		   <geometry>
			  <box size="2 2 1"/>
		   </geometry>
		</collision>
	</link>

  <!-- arm -->
  <xacro:cob_ur10 name="arm" parent="base_link">
    <origin xyz="0 0 1" rpy="0 0 0.40" />
  </xacro:cob_ur10>

  <!-- gripper -->
  <xacro:schunk_pg70 name="gripper" parent="arm_ee_link">
      <origin xyz="0 0 0" rpy="0 1.5708 0" />
  </xacro:schunk_pg70>

</robot>
