<?xml version="1.0"?>
<launch>

	<arg name="robot"/>

    <!-- upload script server parameters -->
    <rosparam command="load" ns="/script_server/arm" file="$(find ipa_seminar_application_pick_and_place)/config/arm_joint_configurations_$(arg robot).yaml"/>

    <!-- send lwa urdf to param server -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find ipa_seminar_application_pick_and_place)/helper/$(arg robot).urdf.xacro'" />

</launch>
